@namespace BlazorForm
@inherits BlazorFormInputBase

<label class="ff-checkbox">
    <input type="checkbox"
           id="@Context.ElementId"
           checked="@Context.BoolValue"
           disabled="@Disabled"
           @onchange="OnToggle" />
    <span>@Field.Label</span>
</label>

@code {
    private Task OnToggle(ChangeEventArgs e)
        => Context.SetValueAsync(e.Value is bool b && b);
}
